@use "./scss/destyle.scss";
@use "./scss/LearnReact.scss";
@use "./scss/containers.scss";
@use "./scss/MapView.scss";
@use "./scss/FieldStyles.scss";
@use "./scss/LoadingView.scss";

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
